{% load static %}

<footer class="footer">
  <div class="footer__container container">
    <div class="footer__inner">
      <div class="footer__top top-footer">
        <a href="#" class="top-footer__link-logo">
          <img class="top-footer__logo" src="{% static "images/logo/logo.png" %}" width="250" alt="Gamer's Galaxy" />
        </a>
        <ul class="top-footer__list">
          <li class="top-footer__item">
            <a href="#" class="top-footer__link">Support</a>
          </li>

          <li class="top-footer__item">
            <a href="#" class="top-footer__link">Contacts</a>
          </li>
        </ul>
      </div>

      <div class="footer__middle middle-footer">
        <ul class="middle-footer__list">
          <li class="middle-footer__item">
              <img src="{% static "images/footer/visa.png" %}" width="100" alt="Visa" />
          </li>

          <li class="middle-footer__item">
              <img src="{% static "images/footer/mastercard.png" %}" alt="Mastercard" />
          </li>
        </ul>
      </div>
    </div>

      <div class="footer__bottom bottom-footer">
        <p class="bottom-footer__copyright">&copy; 2000-2024 Gamer's Galaxy</p>
      </div>
  </div>
</footer>